.product-card {
    background: #fff;
    border-radius: 15px;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.12);
    padding: 15px;
    text-align: center;
    transition: all 0.3s ease;
    position: relative;
    margin-bottom:30px ;
    width:280px;
    height:350px
}

/* استایل تصویر محصول */
.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    background: #f0f0f0;
}

/* استایل عنوان محصول */
.product-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

/* قیمت محصول */
.product-card .product-price {
    font-size: 16px;
    font-weight: bold;
    color: #ff6600;
}

/* مدت زمان */
.product-card .product-time {
    font-size: 14px;
    color: #777;
}

/* توضیحات محصول */
.product-card .product-description {
    font-size: 14px;
    color: #666;
}
