body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
  }
  .calendar {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
  }
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .calendar-header button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .calendar-header button:hover {
    background-color: #2a6bbe;
  }
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  .day {
    padding: 5px;
    border-radius: 5px;
    background: #e0e0e0;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s ease;
  }
  .day.disabled {
    background: #ccc;
    cursor: not-allowed;
    color: #888;
  }
  .day.today {
    background: #007bffcb;
    color: white;
  }
  .day.active {
    background: #004c9d; /* آبی پررنگ برای روز انتخاب‌شده */
    color: white;
  }
  .day:not(.disabled):hover {
      background: #004c9d; /* آبی پررنگ برای روز انتخاب‌شده */
      color: white;
  }
